/* Tela 1 */

body{
    font-family: 'Roboto';
    

    background: #FAFAFA;

}
header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    width: 100%;
    height: 69px;
    display: flex;
    background: red;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    z-index: 10;
    top: 0;

    

}

.fundo{
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.corpo{
    
    width: 55%;
    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.titulo-botao {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-top: 30px;
}

.tela-quizzes-pra-criar{
    width: 100%;
    height: 181px;

    
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    color: #B9B9B9;
}

.criar-quizz{
    box-sizing: border-box;

    width: 151px;
    height: 40px;
    
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
   

    color: #EC362D;


}

p{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    box-sizing: border-box;

    color: #000000;
}

.alto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

 
    
   
}

li {
    position: relative;
    width: 340px;
    height: 181px;
    margin-top: 15px;
    cursor: pointer;

}

.degrade {

    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.9)
    );
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

li img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

li span {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;

color: #FFFFFF;
    position: absolute;
    font-size: 19px;
    bottom: 20px;
    left: 10px;
    z-index: 3;
}




/* Fim Tela 1 */

/* Tela 2 */


.banner-fundo{
    
    width: 100%;
    height: 227px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bannerImagem{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;

}
.banner-fundo img {
    
    width: 100%;
    height: 227px;
    object-fit: cover;
    position: absolute;


}
.banner-fundo h2{
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
    word-break: break-all;
}
.container-perguntas{
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 44px;
    padding: 28px 34px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
    
}
.conteudoPerguntasTela2{
    width: 759px;
    margin: 0 auto;
}
    


.titulo-perguntas{
        
    width: 100%;
    height: 138px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.titulo-perguntas h2{
    margin-top: 10px;
    color: white;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
     word-break: break-all;
}
.alternativa-perguntas{
    
    margin-top: 20px;
            
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
     
}
.conteudoPerguntasTela2 img {

    width: 330px;
    aspect-ratio: 1;
    
    object-fit: contain;
}
.alternativas{
   
    width: 330px;
    height: auto;
    display: block;
    margin-bottom: 40px;
    position: initial;
  
    
}

 .conteudoPerguntasTela2 p { 
    
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    word-break: break-all;
    word-wrap: break-word; 
   

}


.quiz-finalizado{
    margin-bottom: 58px;
    width: 759px;
    height: auto;
    padding: 18px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
    box-sizing: border-box;
}
    

.titulo-quiz-finalizado{

    width: 100%;
    height: 100px;
    padding: 0 15px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.titulo-quiz-finalizado h2{

    color: white;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    word-break: break-word;
}
.resultado{

    margin-top: 18px;
    display: flex;
}
.resultado img{
    width: 364px;
    aspect-ratio: 12/9;
    margin-right: 21px;
    object-fit: contain;

}
.resultado p{
    text-align: left;
    font-size: 19px;
    line-height: 25px;
    font-weight: 700;
    color: #484848;
    word-break: break-word;
}

.botoes-navegar{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao-reiniciar{

    width: 260px;
    height: 52px;
    margin-bottom: 20px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 21px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.voltar-home{
    height: 44px;
    font-size: 21px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #818181;
    background-color: #fafafa;
}


.escondido{
    display: none;
}

/* Fim Tela 2 */

/* Tela 3 */
  .esconder{
    display: none;
  }
  .esconder-cadastrar-quiz {
    display: none;
  }

  .esconder-finalizar-quiz{
    display: none;
  }
  .pagina-titulo {
    font-size: 23px;
    font-weight: bold;
    margin: 130px auto 0 auto;
    width: 280px;
  }
  
  .quiz-form {
    width: 600px;
    height: 256px;
    background-color: #ffffff;
    margin: 50px auto;
    padding: 6px;
  }
  
  .input-form {
    width: 564px;
    height: 46px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
  }
  
  .input-form::placeholder {
    font-size: 19px;
    color: #bababa;
    font-style: italic;
    padding: 20px;
  }
  
  .botaoCriarPerguntas button {
    width: 368px;
    height: 54px;
    border-radius: 15px;
    background-color: #ec362d;
    font-size: 21px;
    color: #fff5f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    border: none;
  }
  
  .questionario, .questionario-nivel{
      background-color: #ffffff;
      width: 600px;
      margin: 50px auto;
      padding: 6px;
  }
  
  .perguntas-respostas p {
     font-size: 20px;
     margin-left: 15px;
     margin-top:10px;
     margin-bottom: 5px;
  }
  
  .resposta-incorreta{
    padding-bottom: 20px;
  }
  
  .perguntas-icons{
   display:flex;
   justify-content: space-between;
   background-color: #ffffff;
   width:601px;
   height:74px;
   margin-top: 10px;
  }
  
  .perguntas-icons img{
    width:26px;
    height:23px;
  }

  .botaoFinalizarQuiz button{
    width: 220px;
    height: 44px;
    border-radius: 15px;
    background-color: #ec362d;
    font-size: 21px;
    color: #fff5f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:70px auto 0 auto;
    border: none;
  }

  .botaoVoltarHome button{
    background-color: #FAFAFA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color:#818181;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:70px auto 0 auto;
    border: none;
  }

  .quiz-pronto img{
   width:500px;
   height:266px;
   border-radius:5px;
   margin-left:380px ;
   margin-top:20px
  }
  /* Fim Tela 3 */

  @media (max-width: 1100px) {

    .alto {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .tela-quizzes-pra-criar, .meus-quizzes{
        width: 340px;
    }
    .corpo{
        align-items: center;
    }
    
    .segunda-tela{
        align-items: center;
    }
    .banner-fundo img {
        width: 100%;
    }
    .conteudoPerguntasTela2{
        align-items: center;
        width: 100%;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-content: center;
    }
    .container-perguntas{
        width: 80%;
    }
    .quiz-form, .input-form, .questionario, .questionario-nivel{
        width: 95%;
    }

    .botaoCriarPerguntas button{
        width: 60%;
    }
}